@charset "utf-8";

*{
  margin:0;
  padding: 0;
}
body,html{
  width:100%;
  height:100%;
}
a{
  text-decoration: none;
}
img{
  border:0 none;
}
%center{
  margin:0 auto;
}
%aHover{
  background: #eee;
}
.wrap{
  width:100%;
  border-bottom: 1px solid #eee;
}
.header{
  @extend %center;
  width:93%;
  height:48px;
  display: flex;
  flex-direction: row;

  .logo{
    display: flex;
    height:48px;
    width:150px;
    justify-content: center;
    align-items: center;
    img{
      display: block;
      height: 23px;
    }

  }
  .nav{
    display: flex;
    width:300px;
    flex: 1;
    li{
      text-align: center;
      height: 48px;
      width:95px;
      font-size: 14px;
      a{
        display: block;
        height: 100%;
       line-height: 48px;
        &:hover{
         @extend %aHover
        }
      }
    }
  }
  .search{
    width:280px;
    height:48px;
    display: flex;
    align-items: center;
    position: relative;
    input{
      height:36px;
      width:278px;
      border:1px solid #eee;
      text-indent: 12px;
      float: left;
      color:#2F2F2F;
    }
    button{
      position: absolute;
      right:10px;
      top:12px;
      background: none;
      border:0;
      i{
        font-size: 22px;
      }
    }
  }

  .login{
    height:48px;
    width:100px;
    display: flex;
    text-align: center;
    line-height: 48px;
    a{
      display: block;
      height:100%;
      width:48px;
      &:hover{
        @extend %aHover;
      }
    }
    a:nth-child(3){
      display: none;
    }
  }
}


main{
  display: flex;
  flex-direction: column;
  min-height: 2223px;
  height: auto!important;
  _height:2223px;
  section{
    width:90%;
    @extend %center;
    display: flex;
  }
  .banner{
    height:470px;

    position: relative;
    img{
      display: block;
      width:100%;
      position: absolute;
      top:0;
      left:0;
    }
    img:nth-child(1){
      position: relative;
    }
    .spot{
      position: absolute;
      bottom: 40px;
      left:45%;
      width:100px;
      display: flex;
      i{
        border-radius: 50%;
        height:4px;
        width:4px;
        display: inline-block;
        border: 1px solid #2F2F2F;
        margin: 5px;
      }
      .active{
        background: #000;

      }
    }
  }
  .pics{
    min-height: 368px;
    height: auto!important;
    _height:368px;
    justify-content: space-around;
    align-items: center;
    dl{
      display: flex;
      flex-direction: column;
      width: 20%;
      dt{
        width:100%;
        img{
          display: block;
          width:100%;
          margin: 0 auto;
        }
      }
      dd{
        line-height: 28px;
        h3{
          font-size: 24px;
          font-weight: 100;
          font-family:Arial;
          color:#2f2f2f;
        }
        p{
          font-size: 14px;
        }
      }
    }

  }
  .pay{
    flex-direction: column;
    img{
      display: block;
      width: 100%;
      height: 100%;
    }
    div{
      background: #2f2f2f;
      height:280px ;
      color:#fff;
      text-align: center;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: none;
      h3{
        line-height: 24px;
        font-size: 22px;
        padding: 10px;
        font-weight: 100;
      }
      p{
        font-size: 16px;

        padding:20px;
      }
      a{
        display: block;
        text-align: center;
        width: 120px;
        height:40px;
        line-height: 40px;
        background: #fff;
        margin: 0 auto;
      }
    }
  }
  .pics2{
    flex-flow: wrap;
    &>h3{
      width: 100%;
      float: left;
      font-size: 30px;
      font-weight: 100;
      text-align: center;
      padding: 0;
      line-height:50px ;
    }
  }

}







//自适应屏幕900px
@media only screen and (max-width:900px) {
  .wrap{
    width: 100%;
    .header{
      width: 100%;
      border-bottom: 1px solid #eee;
      .search{
        display: none;
      }
    }
  }
  main{
    section{
      width:100%;
    }
    .banner{

    }
    .pics{
      flex-flow: wrap;
      dl{
        width:40%;
        margin:5%;
      }

    }

    .pay{
      div{
        display: flex;
      }
    }
  }
}
//自适应屏幕600px
@media only screen and (max-width:600px){

  .wrap .header{
    justify-content: space-between;

    .nav{
      display: none;
    }

    .login{
      width: 148px;
      a:nth-child(3){
        display: block;
      }
    }
  }
  main{
    section{
      width:100%;
    }
    .banner{

    }
    .pics{
      flex-flow: wrap;
      dl{
        width:80%;
        margin:10%;
      }

    }
  }
}